* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}

body {
    background-color: rgb(195, 152, 188);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
    padding-top: 0px;
    padding-bottom: 25px;
    padding-left: 35px;
}

.top-bar p {
    color: rgb(45, 48, 45);
    font-size: 1.1em;
    font-style: normal;
    float: right;
    padding-right: 130px;

}

.outer-container {
    display: block;
    padding: 5px;

}

.outer-container h1 {
    text-align: center;
    padding-top: 20px;

}

.top-bar button {
    outline: none;
    background-color: rgb(214, 214, 220);
    font-size: 1.1em;

}

.top-bar button:hover {
    background-color: rgb(155, 143, 192);
}

/*.outer-container #btn-start{
    display: block;
    margin: 0 auto;
}*/


/*#welcomeintro{
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
    font-size: large;
    color: brown;}*/

.container {
    background-color: beige;
    margin: 140px auto 0;
    max-width: 700px;
    width: 90%;
    margin: 40px auto 100px;
    border-radius: 1em;
    font-size: 20px;
    text-align: center;
    padding-bottom: 25px;

}

.container h1 {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;

}

.container p {
    font-size: medium;
    padding: 0 40px 30px 40px;
    font-style: italic;
}

#quiz {
    display: none;
    text-align: center;
    padding-bottom: 40px;

}

#quiz h2 {
    display: block;
    text-align: center;
    padding-top: 40px;
}



#answerbuttons {
    font-size: 18px;
    margin: 50px;
    font-weight: 400;
    border: 1px solid #222;
    padding: 18px;
}

#answerbuttons .btn {
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition: 0.3s;
    display: block;
}

#btn-start {
    padding: 8px;
    font-weight: bolder;
    cursor: pointer;
    margin: auto;


}


#btn-start:hover {
    background-color: cadetblue;


}

#btn-next {
    padding: 8px;
    font-weight: bolder;
    cursor: pointer;
}

#btn-next:hover {
    background-color: cadetblue;
}

.btn:hover:not([disabled]) {
    background-color: rgb(155, 143, 192);
}

.btn:disabled {
    cursor: no-drop;
}



.correct {
    background: lightgreen;
}

.incorrect {
    background: pink;
}

#finished-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-top: 25%;
}

#highscores-screen {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    list-style: none;
    align-items: center;
    background-color: beige;
    border-radius: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#gameover {
    display: none;
}

#highscoresheading {
    text-align: center;
    font-size: 25px;
}

.row {
    display: flex;
    width: 25%;

    justify-content: space-around;
    margin-top: 16px;

}

#highscoreslist {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;

}